* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #888888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
}

.modalBackground {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #CCCCCC;
}

body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #222222;
}

#root {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    position: fixed;
    box-shadow: 0px 0px 7px #000000;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
    justify-content: center;
    background-color: #e0e0e0;
}

#leftBox {
    flex: 1;
    width: 100%;
    max-width: 350px;
    min-width: 280px;
    display: flex;
    z-index: 10;
    overflow-x: hidden;
    min-height: 100%;
    max-height: 100%;
    border-radius: 20px 0 0 20px;
    flex-direction: column;
    justify-content: center;
    background-color: #cecece;
    transition-duration: 0.4s;
}

#leftBoxTop {
    width: 100%;
    display: flex;
    z-index: 10;
    position: relative;
    border-top-left-radius: 20px;
    box-shadow: -20px 2px 5px #BBBBBB;
    justify-content: center;
}

#userBox {
    width: calc(100% - 20px);
    height: 80px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-self: center;
    border-radius: 20px;
    background-color: #dcdcdc;
}

#userInfo {
    display: flex;
    font-size: 18px;
    flex-direction: column;
    justify-content: center;
}

#userOptions {
    display: flex;
    margin-top: 8px;
    flex-direction: row;
}

#userOptions button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 4px;
    margin-right: 5px;
    border-radius: 5px;  
    box-shadow: 0 0 5px #BBBBBB;
    transition-duration: 0.4s;
}

#userOptions button:hover {
    transform: scale(1.05);
}

input[name="profilePictureImg"] {
    display: none;
}

#profilePictureIcon {
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    transition-duration: 0.4s;
}

#profilePicture {
    width: 60px;
    max-width: 60px;
    height: 60px;
    margin: 10px;
    box-shadow: 0 0 10px #888888;
    border-radius: 30px;
    pointer-events: none;
}

#editProfilePicture {
    top: -35px;
    color: orange;
    display: none;
    padding: 3px;
    position: relative;
    text-align: center;
    margin-bottom: -28px;
    pointer-events: none;
}

#profilePictureIcon:hover {
    transform: scale(1.05);
}

#profilePictureIcon:hover > #editProfilePicture {
    display: block;
}

#noteList {
    flex: 1;
    display: flex;
    overflow: auto;
    margin-right: 5px;
    flex-direction: column;
    border-bottom-left-radius: 20px;
}

.noteItem {
    min-width: calc(95% - 40px);
    margin: 10px;
    cursor: pointer;
    display: flex;
    overflow-x: hidden;
    min-height: 84px;
    box-shadow: 0 0 10px #bbbbbb;
    border-radius: 10px;
    flex-direction: row;
    background-color: #dcdcdc;
    transition-duration: 0.4s;
}

.noteInfo {
    display: flex;
    padding: 10px;
    padding-right: 60px;
    max-width: calc(100% - 70px);
    min-width: calc(100% - 70px);
    flex-direction: column;
}

.noteOptions {
    left: 10px;
    cursor: default;
    display: flex;
    position: relative;
    min-width: 50px;
    min-height: 100%;
    box-shadow: 0 0 10px #888888;
    align-items: center;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    justify-content: center;
    background-color: #999999;
    transition-duration: 0.4s;
}

.noteOptions img {
    cursor: pointer;
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.noteOptions img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 7px #555555;
}

.noteItem:hover {
    background-color: #BBBBBB;
}

.noteItem:hover > .noteOptions {
    left: -50px;
}

.noteTitle {
    padding: 5px 0;
    font-size: 18px;
}

.noteContentPreview {
    font-size: 14px;
    word-break: break-all;
}


.noteTitle,
.noteContentPreview {
    pointer-events: none;
}

#noteContent {
    flex: 2;
    color: #DDDDDD;
    display: flex;
    padding: 20px;
    font-size: 26px;
    min-height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    background-image: linear-gradient(45deg, #333, #222, #333);
}

#noteContentHeader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobileMenu {
    left: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.3s;
}

#mobileMenu:hover {
    transform: scale(1.05);
}

.mobileMenuIconLine {
    flex: 1;
    width: 90%;
    height: 2px;
    margin: 2px 0;
    max-height: 4px;
    border-radius: 5px;
    background-color: black;
}

#currentNoteText {
    flex: 5;
    padding: 20px;
    font-size: 22px;
    overflow: auto;
}

#addNoteButton {
    left: calc(10% - 20px);
    cursor: pointer;
    width: 60px;
    height: 60px;
    bottom: calc(10% - 20px);
    display: flex;
    position: fixed;
    box-shadow: 0 0 10px #444444;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #AAAAAA;
    transition-duration: 0.4s;
}

#addNoteButton:hover {
    transform: scale(1.05);
}

.addNoteButtonLine {
    width: 70%;
    height: 3px;
    position: absolute;
    z-index: 10;
    max-width: 70%;
    background-color: #dcdcdc;
}

.addNoteButtonLine:first-child {
    transform: rotate(90deg);
}

#addNoteModalBackground {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    position: fixed;
    max-height: 100%;
    align-items: center;
    background-color: #00000088;
    justify-content: center;
}

#addNoteModal {
    width: 80%;
    display: flex;
    padding: 40px 0;
    overflow-y: auto;
    max-height: 80%;
    max-width: 800px;
    box-shadow: 0 0 20px #000000;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #dcdcdc;
}

#addNoteModal h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.noteTitleInput,
.noteTextInput {
    width: calc(80% - 20px);
    color: #000000;
    border: none;
    margin: 20px;
    outline: none;
    padding: 10px;
    font-size: 18px;
    min-height: 70px;
    border-radius: 15px;
    box-shadow: 0 0 10px #AAAAAA;
    background-color: #CCCCCC;
}

.noteTextInput {
    resize: none;
    height: 150px;
}

.formButtonBox {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.formButtonBox button {
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 10px #aaaaaa;
    font-size: 18px;
    border-radius: 10px;
    background-color: #BBBBBB;
    transition-duration: 0.3s;
}

.formButtonBox button:hover {
    transform: scale(1.05);
}

@media only screen and (pointer: coarse) {

    * {
        cursor: none;
    }

}

@media only screen and (max-width: 1100px) {

    #root {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    #leftBox {
        min-width: 330px;
        max-width: 330px;
        border-radius: 0px;
    }

    #leftBoxTop {
        border-top-left-radius: 0px;
    }

    #noteList {
        border-bottom-left-radius: 0px;
    }

    #noteContent {
        border-radius: 0px;
    }

    #addNoteButton {
        left: 300px;
    }

}

@media only screen and (max-width: 800px) {

    #root {
        align-items: unset;
    }

    #leftBox {
        top: 70px;
        left: -370px;
        width: 85%;
        z-index: 10;
        position: fixed;
        height: calc(100% - 70px);
        min-height: calc(100% - 70px);
        box-shadow: 0 20px 20px #000000;
    }

    #mobileMenu {
        display: flex;
    }

    #noteContent {
        padding: 0px;
        max-height: 100%;
    }

    #noteContentHeader {
        color: #000000;
        width: calc(100% - 20px);
        padding: 20px 10px;
        max-height: 30px;
        box-shadow: 0 0 20px #000000;
        background-color: #dcdcdc;
    }

    #currentNoteText {
        max-height: calc(100% - 100px);
        overflow-y: auto;
    }

    #addNoteButton {
        left: unset;
        right: 30px;
        bottom: 30px;
    }

}
